<!doctype html>
<html>
  <head>
    <meta http-equiv="expires" content="0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
  <title>Bitclout Identity Python/Flask Example</title>
  </head>
<body>

  <section id="main">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="leftside"></div>    
    <div class="content">
      <div id="header">
        <h1 class="leftside">{% block title %}Bitclout Identity Example{% endblock %}</h1>
        <div class="rightside" id="headerimg"></div>          
      </div>
    {% block content %}
    {% endblock %}
    </div>
    <div class="rightside"></div>
  </section>

  <section id="footer">
    <div class="leftside"></div>
    <div class="footstuff">
      from <a href="https://bitclout.com/u/NeonStoic">@NeonStoic</a>
    </div>
    <div class="rightside"></div>
  </section>
</body>
</html>